<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/d049c8f040.js" crossorigin="anonymous"></script>
        <style>
            img {
                max-width: 150px !important;
            }

            .cart_quantity_delete {
                border: 1px black;
                width: 20px;
            }
        </style>
    </head>

    <body>

        <nav class="navbar sticky-top navbar-expand-lg opacity-75" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Gungun Sewing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {{#if customer}}
                                    {{#with customer}}
                                        <li>
                                            <a href="/usr/" class="dropdown-item">
                                                {{FullName}}
                                            </a>
                                        </li>
                                    {{/with}}
                                {{else}}
                                    <li>
                                        <a href="/sign-in" class="dropdown-item">
                                            Account
                                        </a>
                                    </li>
                                {{/if}}
                                {{#if customer}}
                                    <li>
                                        <a href="/sign-out" class="dropdown-item">
                                            Logout
                                        </a>
                                    </li>
                                {{/if}}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/cat/all">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/categoryProducts">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-1" href="/cart"><i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--***********************************************************footer*****************************************************************************-->
        <div class="d-flex">
            <div class="p-2 d-none d-lg-block" style="width:30%;">
                <div class="card position-fixed" style="width: 20%; margin-left: 60px;">
                    <div class="card-header">
                        <h4>Categories</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/cat/all">All Products</a>
                        </li>
                        {{#each categories}}
                            <li class="list-group-item">
                                <a href="/cat/{{CategorySlug}}" class="catLink">{{CategoryName}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>



            <div class="p-2 productCardWidth" style="width:70%">

                <div class="card right-hand-side-card">
                    <div class="card-body text-center">
                        <h1 class="card-title">Shopping Cart</h1>
                        <hr>


                        <section id="cart_items">
                            <div class="container">
                                <div class="row">
                                    <div class="table-responsive cart_info">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr class="cart_menu">
                                                    <td class="image"></td>
                                                    <td class="description">Product</td>
                                                    <td class="price">Unit Price</td>
                                                    <td class="quantity">Quantity</td>
                                                    <td class="total">Total</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each cart}}

                                                    <tr>
                                                        <td class="cart_product">
                                                            <a href="/cat/{{CategorySlug}}/{{ProductSlug}}"><img
                                                                    src="/img/products/{{Image}}" alt="{{ProductName}}"
                                                                    class="img-fluid rounded-3"></a>
                                                        </td>
                                                        <td class="cart_description">
                                                            <h4><a
                                                                    href="/cat/{{CategorySlug}}/{{ProductSlug}}">{{ProductName}}</a>
                                                            </h4>
                                                            <p>{{Description}}</p>
                                                        </td>
                                                        <td class="cart_price">
                                                            <p> ₹{{ProductPrice}}</p>
                                                        </td>
                                                        <td class="cart_quantity">
                                                            <div class="cart_quantity_button">
                                                                <form action="/cart/{{ProductID}}/update" method="POST">
                                                                    <input class="cart_quantity_input" type="text"
                                                                        name="{{ProductID}}" value="{{quantity}}"
                                                                        autocomplete="off" size="2">
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td class="cart_total">
                                                            <p class="cart_total_price"> ₹{{productTotal}}</p>
                                                        </td>
                                                        <td class="cart_delete">
                                                            <form action="/cart/{{ProductID}}/delete" method="POST">
                                                                <button class="cart_quantity_delete"
                                                                    type="submit">X</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {{/each}}


                                                {{#if summary}}
                                                    <tr>
                                                        <td colspan="4"></td>
                                                        <td colspan="2">
                                                            <div class="card">
                                                                <div class="card-body text-center">


                                                                    <table class="table table-condensed total-result">
                                                                        <thead>
                                                                            <tr class="cart_menu">
                                                                                <td colspan="2"><b>Summary</b></td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Sub Total</td>
                                                                                <td> ₹{{summary.subTotal}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Discount</td>
                                                                                <td> ₹{{summary.discount}}</td>
                                                                            </tr>
                                                                            <tr class="shipping-cost">
                                                                                <td>Shipping Cost</td>
                                                                                {{#if summary.shipCost}}
                                                                                    <td> ₹{{summary.shipCost}}</td>
                                                                                {{else}}
                                                                                    <td>Free</td>
                                                                                {{/if}}
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total</td>
                                                                                <td><span> ₹{{summary.total}}</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2" class="text-right"><a
                                                                                        href="/checkout"
                                                                                        class="btn btn-primary check_out">Check
                                                                                        Out</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                {{/if}}

                                            </tbody>

                                        </table>


                                        <form class="mx-1 mx-md-4" action="/cart/apply-coupon" method="POST">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" class="form-control"
                                                        name="couponCode" />
                                                    <label class="form-label" for="couponCode">Coupon code:</label>
                                                </div>
                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                    <button type="submit" class="btn btn-primary btn-lg">Apply</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </section>


                </div>
            </div>



        </div>
        </div>


        <!--***********************************************************footer*****************************************************************************-->

        <!--***********************************************************footer*****************************************************************************-->
        <footer class=" text-center text-black">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Gungun Sewing</a>
            </div>
            <!-- Copyright -->
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>

</html>